'use strict';
var express = require('express');
var router = express.Router();

/*=====
 SETUP
======*/
var braintree = require('braintree');
var gateway = braintree.connect({
    environment:  braintree.Environment.Sandbox,
    merchantId:   '7cv2rtbdc7mhhq66',
    publicKey:    '2m3m63fqw6sd2yhz',
    privateKey:   '71d52fd5d71e289a88d165e196e54856'
});

router.get('/', function (req, res) {
    res.redirect('index.html');
});

/*==========
 GET TOKEN
===========*/
router.get('/get_token', function (req,res) {
    gateway.clientToken.generate({}, function(err, response) {
        res.send(response);
    });
});

/*===============
 PROCESS PAYMENT
================*/
router.post('/pay', function (req, res) {
    var nonce = req.body.payment_method_nonce;
    console.log(nonce);
    
    gateway.transaction.sale({
        amount: req.body.price,
        paymentMethodNonce: nonce,
        options: {
            submitForSettlement: true
        }
    }, function (err, result) {
        if (result.success) {
            console.log(result);
            res.redirect('success.html');
        }
    });
});

module.exports = router;
