<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Swag Shop&#8482</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Facebook Pixel Code -->
    <!-- <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '267054013664963');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=267054013664963&ev=PageView&noscript=1"
    /></noscript> -->
    <!-- End Facebook Pixel Code -->

</head>

<body>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NM23HB"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NM23HB');</script>
    <!-- End Google Tag Manager -->

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Swag Shop &#8482</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Shipping</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">
        <!--
        <img src="images/banner.png" class="img-responsive"/>
        <hr>
        -->

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Order Form</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="images/swag1.jpg" class="img-rounded" alt="">
                    <div class="caption">
                        <h3>BattleHack 2015 Sticker Set</h3>
                        <p>Collector's Edition.  Gotta catch'em all!</p>
                        <h3 class="bg-info">$3.99 CAD</h3></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="images/swag2.jpg" class="img-rounded" alt="">
                    <div class="caption">
                        <h3>Braintree_Dev Earphones</h3>
                        <p>Listen in style :)</p>
                        <h3 class="bg-info">FREE!!</h3></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="images/swag3.jpg" class="img-rounded" alt="">
                    <div class="caption">
                        <h3>Smart Home Kit</h3>
                        <p>PYH - Pimp your home!</p>
                        <h3 class="bg-info">Over 9000!!! CAD</h3></p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->


        <!-- BEGIN - Credit Card Form -->
        <form id="checkout-form" method="post" action="/pay">
            <!-- Selection Box -->
            <div class="row">
                <div class="col-lg-12 form-group">
                    <label>Select your item</label>
                    <select class="form-control" name="price">
                        <option value="3.99">Sticker Set - $3.99</option>
                        <option value="5.99">Braintree_Dev Earphones - $5.99</option>
                        <option value="9000.00">Smart Home Kit - $9000.00</option>
                    </select>
                </div>

            </div>

            <label for="card-number">Card Number</label>
            <div class="form-control hosted-field" id="card-number"></div>

            <label for="cvv">CVV</label>
            <div class="form-control hosted-field" id="cvv"></div>

            <label for="expiration-date">Expiration Date</label>
            <div class="form-control hosted-field" id="expiration-date"></div>

            <input type="hidden" name="payment_method_nonce">
            <br>

            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Order Now!">
        </form>
        <!-- END - Credit Card Form -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Swag Shop 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- BEGIN BT Client Initialization -->
    <script src="https://js.braintreegateway.com/web/3.0.1/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.0.1/js/hosted-fields.min.js"></script>

    <script>
        var form = document.querySelector('#checkout-form');
        var submit = document.querySelector('input[type="submit"]');
        $.get('/get_token', function (response) {
            var token = response.clientToken;

            braintree.client.create({
              authorization: token
            }, function (clientErr, clientInstance) {
              if (clientErr) {
                // Handle error in client creation
                return;
              }

              braintree.hostedFields.create({
                client: clientInstance,
                styles: {
                  'input': {
                    'font-size': '14pt'
                  },
                  'input.invalid': {
                    'color': 'red'
                  },
                  'input.valid': {
                    'color': 'green'
                  }
                },
                fields: {
                  number: {
                    selector: '#card-number',
                    placeholder: '4111 1111 1111 1111'
                  },
                  cvv: {
                    selector: '#cvv',
                    placeholder: '123'
                  },
                  expirationDate: {
                    selector: '#expiration-date',
                    placeholder: '10 / 2019'
                  }
                }
              }, function (hostedFieldsErr, hostedFieldsInstance) {
                if (hostedFieldsErr) {
                  // Handle error in Hosted Fields creation
                  return;
                }

                submit.removeAttribute('disabled');
                form.addEventListener('submit', function (event) {
                  event.preventDefault();

                  hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                    if (tokenizeErr) {
                      // Handle error in Hosted Fields tokenization
                      return;
                    }

                    // Put `payload.nonce` into the `payment-method-nonce` input, and then
                    // submit the form. Alternatively, you could send the nonce to your server
                    // with AJAX.
                    document.querySelector('input[name="payment_method_nonce"]').value = payload.nonce;
                    form.submit();
                  });
                }, false);

              });
            });

        });
    </script>
    <!-- END BT Client Initialization -->

</body>

</html>
